<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-新经资讯</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <div class="header_con">
        <div class="header">
            <a href="/" class="logo fl"><img src="images/logo.png" alt="logo"></a>
            <ul class="menu fl">
                <li class="active" data-cid="0"><a href="javascript:;">最新</a></li>
                <li data-cid="1"><a href="javascript:;">股市</a></li>
                <li data-cid="2"><a href="javascript:;">债市</a></li>
                <li data-cid="3"><a href="javascript:;">商品</a></li>
                <li data-cid="4"><a href="javascript:;">外汇</a></li>
                <li data-cid="5"><a href="javascript:;">公司</a></li>
            </ul>
            {% include 'news/logined.html'%}
        </div>
    </div>
    
    <div class="conter_con">
        <ul class="list_con fl">
            {%for new in news%}
            <li>
                <a href="/news/detail" class="news_pic fl"><img src="images/news_pic.jpg"></a>
                <a href="/news/detail" class="news_title fl">{{new.name}}</a>
                <a href="/news/detail" class="news_detail fl">{{new.abstract}}</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img src="images/person.png" alt="author">
                        <a href="/news/other">{{new.user}}</a>
                    </div>
                    <div class="time fl">{{new.publish_time}}</div>
                </div>
            </li>
            {%endfor%}   
        </ul>
        <div class="rank_con fr">
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">
                <li><span class="first">1</span><a href="/news/detail">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>
                <li><span class="second">2</span><a href="/news/detail">凛冬已至，还有多少银行人在假装干银行</a></li>
                <li><span class="third">3</span><a href="/news/detail">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>
                <li><span>4</span><a href="/news/detail">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>
                <li><span>5</span><a href="/news/detail">凛冬已至，还有多少银行人在假装干银行</a></li>
                <li><span>6</span><a href="/news/detail">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">        
        <div class="footer_links">
            <a href="">关于我们</a>
            <span>|</span>
            <a href="">联系我们</a>
            <span>|</span>
            <a href="">招聘人才</a>
            <span>|</span>
            <a href="">友情链接</a>
        </div>
        <p class="copyright">
            CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br />
电话：010-****888    京ICP备*******8号
        </p>
    </div>
    {% include 'news/login.html'%}
</body>
</html>