<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-新经资讯</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <div class="header_con">
        <div class="header">
            <a href="/" class="logo fl"><img src="images/logo.png" alt="logo"></a>
            <ul class="menu fl">
                <li data-cid="0"><a href="javascript:;">最新</a></li>
                {%for class in new_classes%}
                <li data-cid="{{class.id}}"><a href="javascript:;">{{class.name}}</a></li>
                {%endfor%}
            </ul>
            {% include 'news/logined.html'%}
        </div>
    </div>
    <div class="conter_con">
        <ul class="list_con fl">
            <li v-for="news in news_list">
                <a :href="'/news/detail?new_id='+news.id" class="news_pic fl"><img :src="news.news_pic_get"></a>
                <a :href="'/news/detail?new_id='+news.id" class="news_title fl">[[news.name]]</a>
                <a :href="'/news/detail?new_id='+news.id" class="news_detail fl">[[news.abstract]]</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img class ="author_img" :src="news.avatar_get" alt="author">
                        <a :href="'other?id='+news.author_id">[[news.nick_name]]</a>
                    </div>
                    <div class="time fl">[[news.publish_time]]</div>
                </div>
            </li>
        </ul>
        {%include 'news/hot_news.html'%}
    </div>
    <div class="footer">        
        <div class="footer_links">
            <a href="">关于我们</a>
            <span>|</span>
            <a href="">联系我们</a>
            <span>|</span>
            <a href="">招聘人才</a>
            <span>|</span>
            <a href="">友情链接</a>
        </div>
        <p class="copyright">
            CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br />
电话：010-****888    京ICP备*******8号
        </p>
    </div>
    {% include 'news/login.html'%}
</body>
</html>