{% if logined == 'true' %}
<div class="user_login fr" id ='user_loginfr' style="display: block;">
    <img src="images/person01.png" class="lgin_pic">
    <a href="/news/user" id = 'nick_name'>{{ nick_name }}</a>
    <a href="?logout=true" id = 'logout'>退出</a>
</div>
<div class="user_btns fr" id="user_btnsfr" style="display: none;">
    <a href="javascript:;" class="login_btn">登录</a>/<a href="javascript:;" class="register_btn">注册</a>
</div>
{% else %}
<div class="user_login fr" id ='user_loginfr' style="display: none;">
    <img src="images/person01.png" class="lgin_pic">
    <a href="/news/user" id ='nick_name'>{{ nick_name }}</a>
    <a href="?logout=true" id ='logout'>退出</a>
</div>
<div class="user_btns fr" id="user_btnsfr" style="display: block;">
    <a href="javascript:;" class="login_btn">登录</a>/<a href="javascript:;" class="register_btn">注册</a>
</div>
{% endif %}