<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户概况</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="js/other.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="header_con">
        <div class="header">
            <a href="/" class="logo fl"><img src="images/logo.png" alt="logo"></a>
            {% include 'news/logined.html'%}
        </div>
    </div>
    
    <div class="conter_con">
        <div class="user_menu_con fl">
            <div class="user_center_pic">
                <input type="hidden" class="author_card" author='{{ userinfo.id }}'>
                <img src="{{userinfo.avatar_get}}" alt="用户图片">
            </div>
            <div class="user_center_name">{{userinfo.nick_name}}</div>

            <ul class="other_detail">
                {%if userinfo.gender == False%}
                <li>性 别：女</li>
                {%else%}
                <li>性 别：男</li>
                {%endif%}
                <li>签 名：{{userinfo.signature}}</li>
            </ul>
            
            <div class="focus_other"> 
                {%if follow ==1 %}
                <a href="javascript:;" class="focus" style="display: none">关注</a><br>
                <a href="javascript:;" class="focused" style="display: block"><span class="out">已关注</span><span class="over">取消关注</span></a>
                {%elif follow==2%}
                <a href="javascript:;" class="focus" style="display: block">关注</a><br>
                <a href="javascript:;" class="focused" style="display: none"><span class="out">已关注</span><span class="over">取消关注</span></a>
                {%endif%}
            </div>            
        </div>

        <div class="user_con fr">
            <div class="other_collect">
                <h3>他的文章</h3>
                <ul class="article_list">
                    {%for new in news%}
                    <li><a href="/news/detail?new_id={{new.id}}">{{new.name}}</a><span>{{new.publish_time}}</span></li>
                    {%endfor%}
                </ul>
                
                <div id="pagination" class="page"></div>
                <script>
                    $(function(){
                        $("#pagination").pagination({
                            currentPage: {{page}},
                            totalPage: {{total_page}},
                            callback: function(current) {
                                location.href='?id={{user_id}}&page=' + current
                            }
                        });
                    });
                </script>
            </div>

        </div>        
    </div>
    <div class="footer">        
        <div class="footer_links">
            <a href="">关于我们</a>
            <span>|</span>
            <a href="">联系我们</a>
            <span>|</span>
            <a href="">招聘人才</a>
            <span>|</span>
            <a href="">友情链接</a>
        </div>
        <p class="copyright">
            CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br />
电话：010-****888    京ICP备*******8号
        </p>
    </div>
    {% include 'news/login.html'%}
</body>
</html>