<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.form.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<a href="/" class="logo fl"><img src="images/logo.png" alt="logo"></a>
			{% if logined == 'true' %}
<div class="user_login fr" id ='user_loginfr' style="display: block;">
    <img class = 'user_pic' src="{{avatar_get}}" class="lgin_pic">
    <a href="/news/user" id = 'nick_name'>{{ nick_name }}</a>
    <a href="javascript:;" id = 'logout'>退出</a>
    <script>
        $('#logout').click(
            function(){
                $.get(
                    'logout',
                {
                    'logout':'true'
                },
                function(){
                    $('#user_loginfr').hide()
                    $('#user_btnsfr').show()
                    $('.comment_form_logout').show()
                    $('.comment_form').hide()
					location.href='index'
                }
                )
            }
        )
    </script>
</div>
<div class="user_btns fr" id="user_btnsfr" style="display: none;">
    <a href="javascript:;" class="login_btn">登录</a>/<a href="javascript:;" class="register_btn">注册</a>
</div>
{% else %}
<div class="user_login fr" id ='user_loginfr' style="display: none;">
    <img class = 'user_pic' src="{{avatar_get}}" class="lgin_pic">
    <a href="/news/user" id ='nick_name'>{{ nick_name }}</a>
    <a href="javascript:;" id ='logout'>退出</a>
    <script>
            $('#logout').click(
                function(){
                    $.get(
                        'logout',
                    {
                        'logout':'true'
                    },
                    function(data){
                        $('#user_loginfr').hide()
                        $('#user_btnsfr').show()
                        $('.comment_form_logout').show()
                        $('.comment_form').hide()
						location.href='index'
                    }
                    )
                }
            )
        </script>
</div>
<div class="user_btns fr" id="user_btnsfr" style="display: block;">
    <a href="javascript:;" class="login_btn">登录</a>/<a href="javascript:;" class="register_btn">注册</a>
</div>
{% endif %}
		</div>
	</div>
	
	<div class="conter_con">
		<div class="user_menu_con fl">
			<div class="user_center_pic">
				<img class ='user_pic' src="{{avatar_get}}" alt="用户图片">
			</div>
			<div class="user_center_name">{{nick_name}}</div>

			<ul class="option_list">
				<li class="active"><a href="/user/user_base_info" target="main_frame">基本资料</a></li>
				<li><a href="/user/user_pic_info" target="main_frame">头像设置</a></li>
				<li><a href="/user/user_follow" target="main_frame">我的关注</a></li>
				<li><a href="/user/user_pass_info" target="main_frame">密码修改</a></li>
				<li><a href="/user/user_collection" target="main_frame">我的收藏</a></li>
				<li><a href="/user/user_news_release" target="main_frame">新闻发布</a></li>
				<li><a href="/user/user_news_list" target="main_frame">新闻列表</a></li>
			</ul>
		</div>

		<div class="user_con fr">
			<iframe src="/user/user_base_info" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
		</div>		
	</div>
	<div class="footer">		
		<div class="footer_links">
			<a href="">关于我们</a>
			<span>|</span>
			<a href="">联系我们</a>
			<span>|</span>
			<a href="">招聘人才</a>
			<span>|</span>
			<a href="">友情链接</a>
		</div>
		<p class="copyright">
			CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br />
电话：010-****888    京ICP备*******8号
		</p>
	</div>
</body>
</html>