<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list">
            {%for user_new in user_news%}
            <li>
                <a href="#">{{user_new.name}}</a>
                <em class="nopass">{{user_new.check.name}}</em>
                <span>{{user_new.publish_time}}}</span>
                {%if user_new.check==3%}
                <b>{{user_new.reason}}}</b>
                {%endif%}
            </li>
            {%endfor%}
        </ul>
        <div id="pagination" class="page"></div>
        <script>
            // 调用父页面的方法改变菜单指示
            // window.parent.fnChangeMenu(2);

            $(function(){
                $("#pagination").pagination({
                    currentPage: 2,
                    totalPage: 3,
                    callback: function(current) {
                        alert('ok!');
                    }
                });
            });
        </script>
       
    </div>
</body>
</html>