<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">    
    <link rel="stylesheet" type="text/css" href="css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="js/user_follow.js"></script>
</head>
<body class="inframe_body">
        <h3 class="common_title">我的关注</h3>
        <ul class="card_list_con">  
            {%for userinfo in userinfos%}
            <li class="author_card card_list">
                <a href="/news/other?id={{userinfo.id}}" target="_blank" class="author_pic"><img src="{{userinfo.avatar_get}}" alt="author_pic"></a>
                <a href="/news/other?id={{userinfo.id}}" target="_blank" class="author_name">{{userinfo.nick_name}}</a>
                <div class="author_resume">{{userinfo.signature}}</div>
                <div class="writings"><span>总篇数</span><b>{{userinfo.publish_news_count}}</b></div>
                <div class="follows"><span>粉丝</span><b>{{userinfo.fans_count}}</b></div>
                <a href="/news/follow?id={{userinfo.id}}" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </li>
            {%endfor%}
        </ul>
        
        
        <div id="pagination" class="page"></div>
        <script>
             $(function() {
                $("#pagination").pagination({
                    currentPage: {{ page }},
                    totalPage: {{ total_page }},
                    callback: function(current) {
                        location.href='?page=' + current
                    }
                });
            });
        </script>
</body>
</html>