<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list">
            {%for user_new in user_news%}
            <li>
                <a {%if user_new.check_statu==1 %} href="/news/detail?new_id={{user_new.id}}" target=_parent {% else %} href="user_news_change?id={{user_new.id}}"{% endif %}>{{user_new.name}}</a>
                {%if user_new.check_statu==1%}
                <em class="pass">已通过</em>
                {%endif%}
                {%if user_new.check_statu==2%}
                <em class="nopass">未通过</em>
                <b>未通过原因：{{user_new.reason}}</b>
                {%endif%}
                {%if user_new.check_statu==3%}
                <em class="review">审核中</em>
                {%endif%}
                <span>{{user_new.publish_time}}</span>
            </li>
            {%endfor%}
        </ul>
        <div id="pagination" class="page"></div>
        <script>
            // 调用父页面的方法改变菜单指示
            // window.parent.fnChangeMenu(2);

          $(function() {
                $("#pagination").pagination({
                    currentPage: {{ page }},
                    totalPage: {{ total_page }},
                    callback: function(current) {
                        location.href='?page=' + current
                    }
                });
            });
        </script>
       
    </div>
</body>
</html>