<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script src="tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="js/tinymce_setup.js"></script>
    <script src="js/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/user_news_release.js"></script>
</head>
<body class="inframe_body">
    <form class="release_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="hidden" name = 'id' value="{{news.id}}">
        <h3>新闻发布</h3>
        <div class="form-group"><label>新闻标题：</label><input type="text" name='name' class="input_txt2" value="{{news.name}}"></div>
        <div class="form-group">
            <label>新闻分类：</label>
            <select class="sel_opt" name='news_classes'>
            {%for newsclass in newsclasses%}
                <option value="{{newsclass.id}}">{{newsclass.name}}</option>
            {%endfor%}
            </select>
        </div>
        <div class="form-group"><label>摘要：</label><textarea  name='abstract' class="input_multxt">{{ news.abstract }}</textarea></div>
        <img src="{{news.news_pic_get}}" alt="">
        <div class="form-group"><label>上传图片：</label><input type="file" name='news_pic'class="input_file" ></div>
        <div class="form-group">
            <label>内容：</label>
            <div class="fl"><input class="input_area" id="rich_content" name="content" value="{{news.msg}}"></input></div>
        </div>
        <div class="form-group">            
            <input type="submit" value="发 布" class="input_sub input_sub2">
        </div>
        <div class="error_tip2" id='error'>提示信息</div>
    </form>
    <script>
        $(function(){
            window.parent.fnSetIframeHeight(900);
        })
    </script>
</body>
</html>