*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../image/bgimg.jpg")
}
.nav{
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav a:hover{
    color: blue
}